chunksCache:
  enabled: false
deploymentMode: SimpleScalable
loki:
  auth_enabled: false
  schemaConfig:
    configs:
    - from: "2024-01-01"
      index:
        period: 24h
        prefix: loki_index_
      object_store: s3
      schema: v13
      store: tsdb
  storage:
    bucketNames:
      admin: loki-admin
      chunks: loki-chunks
      ruler: loki-ruler
    s3:
      accessKeyId: lokiadmin
      endpoint: http://loki-minio:9000
      insecure: true
      s3ForcePathStyle: true
      secretAccessKey: CHANGE_ME_STRONG
    type: s3
minio:
  enabled: true
  persistence:
    enabled: true
    size: 200Gi
    storageClass: nfs-cold
  rootPassword: Shbang1!
  rootUser: lokiadmin
